body{
   
    background-color: aqua;
}
*{
    margin: 0;
    padding: 0;
}
nav ul{
    display: flex;
    height: 60px;
    background-color: black;
    list-style-type: none;
    color: white;
    align-items: center;
}
.start img{
    width: 60px;
}
nav ul li{
    padding-left: 12.5px;
}
.container{
    height: 77.8vh;
    display: flex;
    margin: 23px auto;
    background-color:black;
    background-image: url('bg2.jpeg');
    background-size: 307px;
    color: whitesmoke;
    font-family:sans-serif;
    width:70%;
}
.bottom{
    position: sticky;
    background-color: black;
    color:white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
#progressbar{
    width: 75vw;
    cursor: pointer;
  
}
.icons{
    margin-top: 10px;
}
.icons:hover
{
    cursor: pointer;
}
.songitem{
    display: flex;
    background-color: whitesmoke;
    height: 40px;
    width: 300px;
    color: black;
    justify-content: space-between;
    align-items: center;
    margin: 20px 23px;
    border-radius: 21px;
}
.songitem img{
    margin-left: 6px;
    width: 67px;
    border-radius: 62px;
}
.timestamp{
    margin: 10px;

}
.timestamp  i{
    cursor: pointer;
}
.fa-solid {
    margin: 10px;
}
.songinfo{
    position:absolute;
left: 10vw;
}
.songinfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}
.songitem i:hover{
cursor: pointer;
}